.ccontainer {
    padding: 20px;
    margin-bottom: 30px;
    background-color: #F5F5F5;
    display: grid;
    align-items: center;
    grid-template-columns: 400px 1fr;
    column-gap: 15px;
}

.iimg {
    max-height: 100%;
    max-width: 100%;
}

.rcontainer {
    padding: 20px;
    margin-bottom: 30px;
    background-color: #F5F5F5;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 400px;
    column-gap: 15px;
}
